In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Cukai,MY,2022-02-03 04:14:57,4.2500,103.4167,86.14,69,30,8.03
1,1,Puerto Ayora,EC,2022-02-03 04:14:58,-0.7393,-90.3518,74.55,93,1,4.00
2,2,Albany,US,2022-02-03 04:14:58,42.6001,-73.9662,44.55,82,100,3.31
3,3,Kodiak,US,2022-02-03 04:14:58,57.7900,-152.4072,38.71,87,100,10.36
4,4,Pokhara,NP,2022-02-03 04:14:59,28.2333,83.9833,58.37,56,85,4.52

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Cukai,MY,2022-02-03 04:14:57,4.2500,103.4167,86.14,69,30,8.03
19,19,Vaini,TO,2022-02-03 04:15:07,-21.2000,-175.2000,86.16,74,40,5.75
21,21,Rikitea,PF,2022-02-03 04:15:10,-23.1203,-134.9692,77.94,76,66,10.22
28,28,Port Blair,IN,2022-02-03 04:15:12,11.6667,92.7500,80.64,74,40,9.22
32,32,Arraial Do Cabo,BR,2022-02-03 04:14:13,-22.9661,-42.0278,75.00,88,99,4.76
34,34,Kapaa,US,2022-02-03 04:15:15,22.0752,-159.3190,78.78,72,100,4.61
38,38,Bengkulu,ID,2022-02-03 04:15:18,-3.8004,102.2655,83.35,70,70,6.33
41,41,Mahebourg,MU,2022-02-03 04:15:19,-20.4081,57.7000,80.89,89,75,27.63
44,44,Tamandare,BR,2022-02-03 04:15:20,-8.7597,-35.1047,78.51,78,49,6.58
45,45,Avarua,CK,2022-02-03 04:15:20,-21.2078,-159.7750,82.45,78,40,16.11

In [12]:
preferred_cities_df.count()

City_ID       132
City          132
Country       132
Date          132
Lat           132
Lng           132
Max Temp      132
Humidity      132
Cloudiness    132
Wind Speed    132
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
0             Cukai      MY     86.14   4.2500  103.4167
19            Vaini      TO     86.16 -21.2000 -175.2000
21          Rikitea      PF     77.94 -23.1203 -134.9692
28       Port Blair      IN     80.64  11.6667   92.7500
32  Arraial Do Cabo      BR     75.00 -22.9661  -42.0278
34            Kapaa      US     78.78  22.0752 -159.3190
38         Bengkulu      ID     83.35  -3.8004  102.2655
41        Mahebourg      MU     80.89 -20.4081   57.7000
44        Tamandare      BR     78.51  -8.7597  -35.1047
45           Avarua      CK     82.45 -21.2078 -159.7750

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [15]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [17]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Cukai,MY,86.14,4.2500,103.4167,OYO 90038 Dalyla Inn Chalet
19,Vaini,TO,86.16,-21.2000,-175.2000,Keleti Beach Resort
21,Rikitea,PF,77.94,-23.1203,-134.9692,People ThankYou
28,Port Blair,IN,80.64,11.6667,92.7500,"Welcomhotel By ITC Hotels, Bay Island, Port Blair"
32,Arraial Do Cabo,BR,75.00,-22.9661,-42.0278,Pousada Porto Praia
34,Kapaa,US,78.78,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
38,Bengkulu,ID,83.35,-3.8004,102.2655,Grage Hotel Bengkulu
41,Mahebourg,MU,80.89,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
44,Tamandare,BR,78.51,-8.7597,-35.1047,Pousada 100 Passos
45,Avarua,CK,82.45,-21.2078,-159.7750,Paradise Inn

In [18]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [26]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [27]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))