## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head(10)

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,0,Amahai,ID,87.10,overcast clouds,-3.3333,128.9167,HOTEL ISABELA
1,5,Charters Towers,AU,84.67,clear sky,-20.1000,146.2667,Cattleman's Rest Motor Inn
2,6,Saint-Philippe,RE,78.39,light rain,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
3,13,Ahipara,NZ,75.24,light rain,-35.1667,173.1667,Ahipara Holiday Park
4,19,Esperance,AU,84.90,clear sky,-33.8667,121.9000,Hospitality Esperance
5,23,Vaini,TO,77.16,light rain,-21.2000,-175.2000,Keleti Beach Resort
6,25,Alofi,NU,80.60,light rain,-19.0595,-169.9187,Taloa Heights
7,28,Georgetown,MY,82.33,few clouds,5.4112,100.3354,Cititel Penang
8,32,Rikitea,PF,79.57,overcast clouds,-23.1203,-134.9692,People ThankYou
9,33,Labuhan,ID,82.49,broken clouds,-6.8844,112.2051,DoubleFAG

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template =   """
                  <dl>
        <dt>Hotel Name</dt><dd>{Hotel Name}</dd>
        <dt>City</dt><dd>{City}</dd>
        <dt>Country</dt><dd>{Country}</dd>
        <dt>Max Temp</dt><dd>{Max Temp} °F</dd>
        </dl>
                    """

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] =="Meulaboh"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Meulaboh"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Sibolga"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Padang"]
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Japura"]

In [6]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end =  vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]

print(f'Start: {start}, End: {end}')
print(f'Stop 1: {stop1}, Stop 2: {stop2}, Stop 3: {stop3}')

Start: (4.1363, 96.1285), End: (4.1363, 96.1285)
Stop 1: (1.7427, 98.7792), Stop 2: (-0.9492, 100.3543), Stop 3: (-0.3167, 102.35)

In [7]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
vacation_itinerary = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')

fig.add_layer(vacation_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,104,Meulaboh,ID,78.76,overcast clouds,4.1363,96.1285,Kost Pria
1,143,Sibolga,ID,77.92,overcast clouds,1.7427,98.7792,Hotel Syariah CN Darussalam
2,291,Padang,ID,77.05,overcast clouds,-0.9492,100.3543,Mercure Padang
3,549,Japura,ID,76.60,light rain,-0.3167,102.3500,Rumah mbah Jamah

In [13]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
          <dl>
         <dt>Hotel Name</dt><dd>{Hotel Name}</dd>
        <dt>City</dt><dd>{City}</dd>
        <dt>Country</dt><dd>{Country}</dd>
        <dt>Current Weather</dt><dd>{Weather Description} and {Max Temp}°F</dd>
        </dl>

"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [14]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure()

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))